* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #171717;
  color: #FEFEFE;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection {
  background: #FEFEFE;
  color: #222222;
}
::-moz-selection {
  background: #FEFEFE;
  color: #222222;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 800px;
  height: 800px;
}

.child {
  font-size: 2rem;
  pointer-events: none;
  position: relative;
  transition: transform 2s cubic-bezier(0.87, 0, 0.13, 1);
}

.child .inner-div {
  font-size: 2rem;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 6, 6);
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width:1079px) { 
	.wrapper {
    display: none;
  }
  .mobile {
    display: flex;
    opacity: 100%;
  }
  .mobile-text {
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 3.275);
  }
}